page-welcome {
  .landing {
    background: url("../../assets/imgs/login_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .welcome-button_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -90%);
    -moz-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    -o-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
  }

  .welcome-button {
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
    font-weight: 500;
  }

  .big {
    font-size: 16px;
  }
}

